*{
    margin: 0;
    padding: 0;
    color: white;
}
body{
    background-color: rgb(27, 27, 27);
    width: 100vw;
    overflow-x: hidden;
    background: linear-gradient(#202020, #272727);
}
html{
    width: 100vw;
    overflow-x: hidden;
}
/* html{
    height: 100%;
} */

.carrusel {
    position: relative;
    width: 100%; /* Ajusta según el tamaño de las imágenes */
    height: 200px; /* Ajusta según el tamaño de las imágenes */
  }
  
.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ajusta para que las imágenes tengan el mismo tamaño */
    height: 100%;
}
#image2,#image3{
    z-index: -1;
}
#image1{
    z-index: 1;
}
.carrusel-button{
    height: 20px;
    width: 100vw;
    /* background-color: rgb(18, 18, 18); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.statics1{
    position: relative;
    width: 100vw; /* Ancho del contenedor */
    height: 120px; /* Alto del contenedor */
}

.rosas{
    margin-left: -60px;
    display: flex;
    flex-direction: column;
}
.flor1,.flor2,.flor3,.flor4{
    position: absolute;
    opacity: 0.8;  
}
.flor1{
    width: 180px;
    height: 149px;
    z-index: 1;
    top: -50px;
    left: -45px;
}
.flor3{
    width: 90px;
    height: 79px;
    z-index: 3;
    top: 45px;
    left: 35px;
}
.flor4{
    width: 108px;
    height: 90px;
    z-index: 2;
    top: 70px;
    left: -35px;

}

.flor2{
    width: 150px;
    height: 223px;
    z-index: 1;
    transform: rotate(-118deg);
    margin-right: -40px;
    top: -120px;
    right: -40px;
}

.bi-circle-fill{
    margin-left: 2.5px;
    margin-right: 2.5px;
    font-size: 8px;
}
.bi-circle-fill:hover{
    color: #D90F0Fca !important;
}
#c2{
    /* background-color: #D9D9D9 !important; */
    color: #D90F0F ;
}
#c1, #c3{
    color: #d9d9d937;
}
.texto1,.texto2{
    font-family: 'Marck Script';
    font-size: 56px;
    letter-spacing: -2px;
}

.texto1{
    position: absolute;
    top: 10px;
    left: 33%;
    
    
}
.texto2{
    position: absolute;
    top: 56px;
    left: 38%;
}

.tela1{
    position: absolute;
}
.lugar{
    position: relative;
    width: 100%;
    height: 275px;
    font-family: 'Montserrat Alternates';
    box-shadow: inset 0px -10px 10px rgba(0, 0, 0, 0.5); /* Sombra interna */
}

.tela1{
    position: absolute;
    top: -100px;
    right: -110px;
    z-index: 1;
    opacity: 0.25;
}

.content1{
    display: flex;
    margin-top: 30px;
    height: 200px;
}
.cont1{
    flex: 1.2;
    text-align: center;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont2{
    flex: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.cont1 p,.cont1 h1,.cont1 h4{
    margin-bottom: 0;
    line-height: 18px;
}
.cumpfin{
    margin-bottom: 10px !important;
}
.cont1 h1{
    font-family: 'Liu Jian Mao Cao';
    font-size: 46px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.cont2 img{
    width: 80px;
    height: 107px;
}
.cont2 .img1{
    position: absolute;    
    transform: rotate(-98deg);
    top: 30px;
    left: 10px;
}
.cont2 .img2{
    position: absolute;
    z-index: 1;
    transform:rotate(10deg) ;
}
.florlugar{
    position: absolute;
    z-index: 3;
    bottom: 0px;
    right: 0px;
    width: 100px;
    height: 109px ;
}

.pielugar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.ubi{
    text-align: center;
    line-height: 6px;
    font-size: 13px;
}
.ubi a{
    color: rgb(200, 199, 199);
}
.sobre{
    position: relative;
    width: 100vw;
    height: 500px;
}
.florpie1,.florpie2{
    position: absolute;

}
.florpie1{
    width: 130px;
    height: 115.5px;
    z-index: 1;
    top: -40px;
    left: -25px;
}
.florpie2{
    width: 150px;
    height: 223px;
    transform: rotate(-5deg);
    left: -40px;
    top: -10px;
}